In [2]:
print(123 + 1 )

124

In [3]:
print(10)
print(type(10))

10
<class 'int'>

In [4]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

In [5]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [6]:
print('')

In [7]:
print("This string contains a single quote (') char.")

print('This string contains a double quote (") char.')

This string contains a single quote (') char.
This string contains a double quote (") char.

In [8]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [9]:
n = 300

In [10]:
print(n)

300

In [11]:
n

300

In [12]:
300

300

In [13]:
n = 1000
print(n)

1000

In [14]:
n = 1000
print(n)

n

1000

1000

In [15]:
a = b = c= 300
print (a, b, c)

300 300 300

In [16]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

In [17]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

In [18]:
9_kepala_naga = True

SyntaxError: invalid decimal literal (Temp/ipykernel_4368/687628429.py, line 1)

In [19]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

In [20]:
a = 10
b = 20
a + b

30

In [21]:
a = 10
b = 20
a + b - 5

25

In [22]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [23]:
10 / 5

2.0

In [24]:
a = 10
b = 20
print(a == b)

print(a != b)

print(a <= b)

print(a >= b)

a = 30
b = 30
print(a == b)

print(a <= b)

print(a >= b)

False
True
True
False
True
True
True

In [25]:
# + Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

print(s + t + u)

print('Hacktiv8 ' + 'PTP')

foobar
foobarbaz
Hacktiv8 PTP

In [26]:
# + Operators
s = 'foo'

s*4

'foofoofoofoo'

In [27]:
# + Operators
s = 'foo.'

s*4

'foo.foo.foo.foo.'

In [28]:
# + Operators
s = 'foo'

print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [29]:
# Case Conversion
s = 'HackTIV8'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

In [30]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

In [31]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

In [32]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

In [33]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [34]:
print(a[0])
print(a[5])

foo
corge

In [35]:
print(a[-1])
print(a[-6])

corge
foo

In [36]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:5]

['baz', 'qux', 'quux']

In [37]:
print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [38]:
#len(), min(), max()

print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

In [39]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [40]:
del a[3]

In [41]:
print(a)

['foo', 'bar', 10, 'quux', 20]

In [42]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

In [44]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [45]:
print(t[0])
print(t[-1])

foo
corge

In [47]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

s1

'foo'

In [50]:
MLB_team = {
            'Colorado'  : 'Rockies',
            'Boston'    : 'Rex Sox',
            'Minnesota' : 'Twins',
            'Milwaukee' : 'Brewers',
            'Seattle'   : 'Mariners'
}

In [51]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

# error
# MLB Team = MLB_team['Toronto']

Twins
Rockies

In [52]:
MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Rex Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [53]:
MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Rex Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [54]:
del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Rex Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

In [55]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog':'Fido', 'cat':'Sox'}

In [56]:
print(person)

{'fname': 'Hack', 'lname': 'PTP', 'age': 51, 'spouse': 'Edna', 'children': ['Ralph', 'Betty', 'Joey'], 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [57]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [58]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [60]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [62]:
# Built-in Methods
d = {'a': 10, 'b':20, 'c':30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

In [63]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_work_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)

someone_is_of_work_age

True

In [64]:
someone_is_of_work_age = (
    (person1_age >= 18 and person1_age <= 65) 
    or (person2_age >= 18 and person2_age <= 65) 
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_work_age

True